BasedOnStyle: Google
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveDeclarations: None
AlignEscapedNewlines: DontAlign
AlignOperands: DontAlign
AlignTrailingComments: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
#BinPackParameters: OnePerLine
BreakBeforeBinaryOperators: All
ColumnLimit: 80
PackConstructorInitializers: CurrentLine
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
DeriveLineEnding: false
DerivePointerAlignment: false
IndentRequiresClause: true
IndentWidth: 2
MaxEmptyLinesToKeep: 1
PointerAlignment: Left
ReflowComments: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeRangeBasedForLoopColon: false
SpacesBeforeTrailingComments: 0
Standard: c++20
TabWidth: 2
LineEnding: LF
UseCRLF: false
UseTab: Never
